@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(180deg, #4c0000 0%, #0a0a0a 100%),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 73.01%,
      rgba(15, 15, 15, 0.6) 73.01%
    );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
